
<div class="row justify-content-center login-container">
    <div class="col-4">
       
        
        <form name="loginForm" role="form" novalidate (ngSubmit)="login()" [formGroup]="loginForm">
            <div>
                <div class="form-group">
                    <label class="form-control-label" for="username">User Name</label>
                    <input type="text" class="form-control" id="username" name="username" validateEmail
                        formControlName="username" />
                    <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched)"
                        class="invalid-feedback d-block">
                        <div *ngIf="loginForm.get('username').hasError('required')">
                            Field is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions d-flex flex-row-reverse">
                <button type="submit" id="save-entity" [disabled]="loginForm.invalid || (isSaving$ | async)"
                    class="btn btn-primary">
                    <span>Log In</span>
                </button>
            </div>
            <div *ngIf="errorStatus" class="error-alert">
                {{ error }}
              </div>
        </form>
    </div>
</div>