@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';


.logged-status {
  margin: 0 40px;
}

.topnav-link {
  color: rgb(24, 24, 222);
  cursor: pointer;
}

.topnav-form {
  button {
    margin: 0 5px;
  }
}